@model LearnerProject.Models.Entities.Teacher
@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitmen Ekleme Sayfası</h2>

<form method="post">
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new {@class="Form-control",@placeholder="Ad - soyad giriniz"})
    <br/>
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x=>x.UserName,new {@class= "form-control",@placeholder="Kullanıcı adı giriniz" })
    </br>
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new {@class="form-control", @placeholder="Şifre giriniz"})
    <br/>
    <button class="btn btn-outline-success"><i class="fas fa-save"></i> Kaydet</button>
</form>
