@model LearnerProject.Models.Entities.CourseRegister
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StudentLayout/Index.cshtml";
}

<h3>Kurs Kayıt Sayfası</h3>
<form method="post">
    <label>Kurs Adı</label>
</form>
