@model LearnerProject.Models.Entities.Review
@{
    ViewBag.Title = "AddReview";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yorum Düzeltme Ekle</h2>
<form method="post">
    @Html.DropDownListFor(x=>x.CourseId,(List<SelectListItem>)ViewBag.course,"Kursu Seç", new {@class="form-control mb-3"})
    @Html.TextAreaFor(x=> x.Comment, new {@class="form-control mb-3",@placeholder="Yorum",style="width:max; height:200px;"})
    @Html.DropDownListFor(x=>x.StudentId,(List<SelectListItem>)ViewBag.student,"Öğrenci Seç",new {@class="form-control mb-3"})

    <button class="btn btn-outline-success"><i class="fas fa-save"> Kaydet</i></button>
</form>
